@font-face {
    font-family: Pixellari;
    src: url("../assets/fonts/Pixellari.ttf");
    font-family: "Lemon Milk";
    src: url("../assets/fonts/LEMONMILK-Bold.otf");
    font-family: "Royal Queen";
    src: url("../assets/fonts/RoyalQueen.ttf");
    font-family: "Raccosetta Demo";
    src: url("../assets/fonts/RaccosettaDemo-rgdJ9.ttf");
}

